<app-header></app-header>

<main>
  <section class="article-section">
    <article class="article-container">
      
      <header class="article-header" [innerHTML]="content[0] | safe: 'html'"></header>

      <section class="article-content">
        <figure><img src="{{ image }}" alt="{{ getPureText(content[0]) }}"></figure>
      </section>

      <section class="article-content">
        <ng-template #articleContainer></ng-template>
      </section>

      <footer>
        <!-- <p>A version of this article appeared in print on August 8, 2010, on page BU1 of the New York edition.</p>
        <p>Copyright 2010 <span class="org fn">The New York Times Company</span></p>
        <time datetime="2018-08-23 11:00:00">August 23, 2018 at 11 am</time> -->
      </footer>

    </article>
  </section>
</main>