.article-container {
  padding-top: 30px;
}

.article-header,
.article-content {
  max-width: 728px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.article-indent {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 30px;
}

.article-image-container{
  text-align: center;

  img {
    width: 100%;
  }
}

.full-width {
  max-width: 100%;
}